<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            TargetSite
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid fixed>

        <ion-row>
            <ng-container *ngFor="let target of this.targetObserver | async">
                <ion-col size="3">
                    <app-target-normal [target]="target"></app-target-normal>
                </ion-col>
            </ng-container>

        </ion-row>

        <ion-row>
            <ion-col>
                <div class="table">
                    <ion-text style="text-align:center">
                        <h1 style="font-size: 80px;">
                            {{this.getHitCountText()}}
                        </h1>
                    </ion-text>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>


<!-- カウントダウンモーダル -->
<ion-modal #startmodal>
    <ng-template>
        <ion-content>
            <div style="height: 100%; display: flex; justify-content:center; align-items:center">
                <ion-button (click)="onClickStartBtn()" *ngIf="this.countDown === 4" size="large">
                    Start
                </ion-button>

                <p style="font-size: 128px;" *ngIf="this.countDown !== 4">
                    {{this.countDown}}
                </p>
            </div>

        </ion-content>
    </ng-template>
</ion-modal>

<!-- 成功7モーダル -->
<ion-modal #clearmodal (didDismiss)="onDissmiss()">
    <ng-template>
        <ion-content>
            <div style="height: 100%; display: flex; justify-content:center; align-items:center">

                <p style="font-size: 128px;">
                    Clear!!
                </p>
            </div>

        </ion-content>
    </ng-template>
</ion-modal>