<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            TargetSite
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid fixed style="margin-top: 10%;">

        <ion-row>
            <ng-container *ngFor="let target of this.targetObserver | async">
                <ion-col size="3">
                    <app-target-normal></app-target-normal>
                </ion-col>
            </ng-container>

        </ion-row>

        <ion-row>
            <ion-col>
                <div class="table">
                    <ion-text style="text-align:center">
                        <h1 style="font-size: 80px;">
                            {{this.getHitCountText()}}
                        </h1>
                    </ion-text>
                </div>
            </ion-col>
        </ion-row>


    </ion-grid>

</ion-content>