<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            TargetSite
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid fixed style="margin-top: 10%;">

        <ion-row>
            <ion-col size="3">
                <app-target-normal></app-target-normal>
            </ion-col>

            <ion-col size="3">
                <app-target-normal></app-target-normal>
            </ion-col>

            <ion-col size="3">
                <app-target-normal></app-target-normal>
            </ion-col>

            <ion-col size="3">
                <app-target-normal></app-target-normal>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="table">
                    <ion-text style="text-align:center" color="primary">
                        <h1 style="font-size: 50px;">2/4</h1>
                    </ion-text>
                </div>
            </ion-col>
        </ion-row>


    </ion-grid>

</ion-content>